<div class="container">
  <div style="border-bottom: 3px solid #d7dbe2;">
  <h3>
    <%= @lesson.title %>&nbsp
    <span style="color: #ab1541;">
      <span class="glyphicon glyphicon-thumbs-up"></span><%=@positive%>&nbsp&nbsp&nbsp&nbsp
    </span>
    <span class="glyphicon glyphicon-thumbs-down"></span><%=@negative%>&nbsp&nbsp&nbsp&nbsp
    <img src="http://img.realworld.jp/realpedia/img/star<%= if @average/2.round ==0 then 1 else @average/2.round end %>.0.gif" alt="">
  </h3>
  <a href="/review/<%= @lesson.id %>">レビューを書く</a>
  </div>
<!-- <input id="input-id" type="number" class="rating" min=1 max=10 step=2 data-size="lg" data-rtl="true"> -->

  
  <% if @reviews.present?  then @reviews.each do |review| %>
    <div style="border-bottom: 3px solid #d7dbe2;">
      <h4>
        <%= review.nickname %>さん
        <span class="color-sub"><img src="http://img.realworld.jp/realpedia/img/star<%= if review.rate/2.round ==0 then 1 else review.rate/2.round end %>.0.gif" alt=""></span>
      </h4>
      <span>レビュー</span>
      <h5><%= if review.emotion=="P" then "○" else  "×" end %><%= review.review %></h5>
    </div>
  <%end%>
  <div>
    <%= paginate(@reviews) %>
  </div>
    <%end%>
</div>



